<footer>
    <div class="footer-content">
        <p>&copy; 2024 Signature Menswear. All Rights Reserved.</p>
        <div class="social-links">
            <a href="https://www.instagram.com/sig_naturemenswear/" target="_blank">Instagram</a>
        </div>
    </div>
</footer>
